---
{
    streamId: "pages-locations", 
    urlFormat: "{{ .id }}.html"
}
---
{{define "gotemplates.tmpl" -}}
<html>
    <body>
        <h1> Welcome to {{.name}}</h1>

        <p>Address: 
         {{ range $key, $value := .address }}
           <li><strong>{{ $key }}</strong>: {{ $value }}</li>
        {{ end }} </p>
        <p>Description: 
           {{ .description }}         
        </p>
    </body>
</html>
{{end}}
