---
{
    "streamId": "pages-locations", 
    "urlFormat": "{{ .id }}"
}
---
{{define "gotemplates.tmpl" -}}
<html>
    <body>
        <h1> Welcome to {{.name}}</h1>
        <p>Description: 
           {{ .description }}         
        </p>

        <h2> Related Products </h2> 
        {{ range .c_relatedProducts }}
            <div> 
                <p> <strong>{{ .name }}</strong> </p>
                 <img src={{ index .photoGallery 0 }}>
                <p> Price: {{.price.value }} {{.price.currencyCode}} </p>  
            </div>
        {{ end }}
    </body> 
</html>
{{end}}
